<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <title>Welcome to AIKitchen</title>
    <img src="{% static 'images/logo.png' %}" alt="AIKitchen Logo" width="300" height="300">

</head>

<body>
 {% if recipe %}
    <h1>Generated Recipe:</h1>
    <h2 style="color: red;">{{recipe.name}}</h2>
    <p>Ingredients:{{recipe.ingredients}}</p>
    <p>Recipe:{{recipe.order}}</p>
    {% else %}
    <h1>Waiting for ingredients to cook a delicious meal for you!</h1>
    {% endif %}
    {%if image %}
    <h1>Generated Image:</h1>
    <img src="{{ image}}" alt="Generated Image">
    {% else %}
    <h1></h1>
    {% endif %}
    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Generate recipe and image</button>

    </form>

</body>
</html>